{% extends 'base.html' %}

{% block main %}

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '接口数量统计'
            },
            tooltip: {},
            legend: {
                data: ['接口数量']
            },
            xAxis: {
                data: ["飞控系统", "导航系统", "理财系统", "信贷系统", "房贷系统", "其他"]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>



{% endblock %}